<div>
    <% if (Array.isArray(files) && (files.length >= 1)){%>
    <% files.forEach((file) => { %>
    <a href="<%=`/details/${file.id}`%>">
        <%- include('partials/file', {file: file}); %>
    </a>
    <%});%>
    <%}%>
</div>
