<html>
  <head>
    <title>File Uploader</title>
    <link rel="stylesheet" href="styles.css">
  </head>
  <body>
    <h1>Home</h1>
  <% if(!locals.user){%>
    <%- include ("partials/unauth.ejs")%>
    <%}else{%>
    <br/>
    <% if(folders.length >= 1){ %>
    <% folders.forEach((folder) => { %>
    <a href="<%=`/${locals.user.fullname}/${folder.name}`%>">
    <%- include('partials/folder', {name: folder.name, files: folder.files, folderId: folder.id}); %>
    </a>
    <%});%>
    <%}%>
    <form method="POST" action="/newFolder">
      <label for="newFolder"></label>
      <input type="text" name="newFolder" placeholder="Folder Name">
      <button type="submit">Add Folder</button>
    </form>
    <form method="POST" action="/upload" enctype="multipart/form-data">
      <input type="file" name="uploaded_file"/>
      <button type="submit">Upload</button>
    </form>
    <%}%>
    <% if(locals.user){%>
    <a class="button logout" href="/log-out">LOG OUT</a>
    <%}%>
  </body>
</html>

