<html>
  <head>
    <title>
      Sign Up 
    </title>
    <link rel="stylesheet" href="auth.css">
  </head>
  <body>
      <%- include("partials/errors.ejs") %>
      <form method="POST" action="/sign-up">
      <h1>
        Sign Up 
      </h1>
        <label for="fullname"> Name: </label>
        <input type="text" name="fullname" placeholder="Jeff?"/>
        <label for="password"> Password: </label>
        <input type="password" name="password" placeholder="supersecretpasword"/>
        <label for="password"> Confirm Password: </label>
        <input type="password" name="passwordConfirm" placeholder="supersecretpasword"/>
        <button class="button">
          Sign Up
        </button>
      </form>
  </body>
</html>
